body {
    margin: 0;
}

.page {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;       
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    
    background-color: #22313f;
    
    padding: 20px;
    margin-bottom: 130px;    
}

.header-second {
    display: flex;
    justify-content: space-around;
    
    background-color: #22313f;
    
    padding: 20px; 
}

.header-title {
    font-size: 18px;
    color: white;
    
    transition: color 0.2s linear;
}

.header-title:hover {
    color: #c73f3f;
}

.information {
    padding-top: 20px;
    margin-bottom: 36px;
}

.information-title {
    font-size: 24px;
    text-align: center;
    
    margin: 0;
}

.content {
    width: 900px;
    margin: 0 auto;
    display: flex;
}

.content-box {
    width: 50%;  
}

a {
    text-decoration: none;
}

.content-element {
    width: 400px;
    height: 200px;
    
    border: 1px solid #a5a5a5;
    border-radius: 20px;
    
    background-color: #fff;
    margin: 20px auto;
    
    transition: background 0.2s linear;
}

.content-element:hover {
    background-color: rgba(147, 187, 224, 0.58);
}

.content-title {
    text-align: center;
    text-transform: uppercase;
    color: black;
    
    margin: 0;
    padding-top: 10px;
}

.imgcenter {
    text-align: center;
    margin: 0;
    padding: 10px;
}

.footer {
    background-color: #2a2521;
    
    margin-top: 158px;
    padding: 10px;
}

.footer-title {
    margin: 0;
    text-align: center;
    
    color: white;
}

.footer-second {
    background-color: #2a2521;
    padding: 10px;
}


/* Sections */

.sections-content {
    display: flex;
    height: 860px;
}


.sidebar {
   
    font-size: 22px;
    padding-top: 13%;
    padding-left: 30px; 
    width: 31%;
    border-right: 3px solid #22313f;
    
}

.element{
    list-style: circle;
    padding-bottom: 20px;
}

.element-text{
    color: black;
    vertical-align: middle;
    transition: color 0.2s linear;
    border-bottom: 3px solid #22313f;
}


.element-text:hover {
    color: #c73f3f;
}


.main {
    width: 69%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.video {
    justify-content: center;
    overflow: hidden;
    
}

.tutorial {
    width: 1000px;
    height: 715px;
    margin: 0 auto;
    margin-top: 150px;
   
}